---
layout: compress
---

<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include navbar.html %}
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered" id="page-section">
                <div class="section">
                    <h1 class="title is-1 is-uppercase has-text-weight-bold">
                        {{page.title}}
                    </h1>
                    <hr class="has-background-black">
                    <div class="content is-marginless">
                        {{ content }}
                        {% if page.document != nil %}
                           <div>
                                 <a href="{{site.url}}{{site.baseurl}}/assets/projects/{{page.document}}">▼ Download</a>
                           </div>
                           <div>
                                {% if page.preview %}
                                <img src="{{site.url}}{{site.baseurl}}/assets/projects/{{page.preview}}" class="embeded-document"/>
                                {% else %}
                                <embed src="{{site.url}}{{site.baseurl}}/assets/projects/{{page.document}}" class="embeded-document"/>
                                {% endif %}
                           </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Footer begins here-->
    {% include footer.html %}
</body>

</html>